#wrap{width:100%}
img {
    width: 100%; /* 이미지의 최대사이즈 */
    height: 100%;
    vertical-align: bottom;
}
#header{position:fixed;width:100%;z-index:2}
#header .top_menu_defult{overflow: hidden;padding:1.5rem;width:calc(100% - 3rem)}
#header .top_menu_defult div:first-child{float:left;}
#header .top_menu_defult div:first-child img{width:104px}
#header .top_menu_defult div:nth-child(2){float:right;}
#header .top_menu_defult div:nth-child(2) img{width:17.5px}

#header .top_menu_scroll{display:none;background:white;overflow: hidden;padding:1.5rem;width:calc(100% - 3rem)}
#header .top_menu_scroll div:first-child{float:left;}
#header .top_menu_scroll div:first-child img{width:104px}
#header .top_menu_scroll div:nth-child(2){float:right;}
#header .top_menu_scroll div:nth-child(2) img{width:17.5px}

#header .top_menu_on_wrap{width:100%;display:none;z-index:3;position: absolute;top:0}
#header .top_menu_on_wrap .top_menu_on_head{background:#006eb7;overflow: hidden;}
#header .top_menu_on_wrap .top_menu_on_head div:first-child{float:left;}
#header .top_menu_on_wrap .top_menu_on_head div:first-child img{width:104px}
#header .top_menu_on_wrap .top_menu_on_head div:nth-child(2){float:right;padding-right:1.5rem}
#header .top_menu_on_wrap .top_menu_on_head div:nth-child(2) img{width:17.5px}
#header .top_menu_on_wrap .top_menu_on_head .top_menu_on_head_menu{clear:both;float:left !important;padding:1.5rem 1.5rem 0 1.5rem;width:calc(100% - 3rem);overflow: hidden;}
#header .top_menu_on_wrap .top_menu_on_head .top_menu_on_head_menu li{font-size:1.1rem;float:left;display:inline-block;}
#header .top_menu_on_wrap .top_menu_on_head .top_menu_on_head_menu li a{color:white;}
#header .top_menu_on_wrap .top_menu_on_head .top_menu_on_head_menu li:first-child{font-family:'Montserrat' !important;font-size:1.2rem !important;
    background:url('../images/main/bg_top_menu_line.png') right 3px no-repeat;padding-right:1.5rem}
#header .top_menu_on_wrap .top_menu_on_head .top_menu_on_head_menu li:last-child{padding-left:1.5rem;margin-top:2px}
.top_menu_on_etc{padding:3rem 1.5rem;width:calc(100% - 3rem);clear:both;overflow: hidden;}
.top_menu_on_etc p:first-child{float:left;color:white;font-size:1.2rem;margin-top:1rem}
.top_menu_on_etc p:last-child{float:right;color:white;}
.top_menu_on_etc img{width:9.5rem;}

@media all and (min-width:768px){
    #header .top_menu_defult div:nth-child(2) img{width:100%}
    #header .top_menu_defult div:first-child img{width:100%}
    #header .top_menu_scroll div:nth-child(2) img{width:100%}
    #header .top_menu_scroll div:first-child img{width:100%}
    #header .top_menu_on_wrap .top_menu_on_head div:first-child img{width:100%}
    #header .top_menu_on_wrap .top_menu_on_head div:nth-child(2) img{width:100%}
    #header .top_menu_on_wrap .top_menu_on_head .top_menu_on_head_menu li{font-size:1.4rem;}
#header .top_menu_on_wrap .top_menu_on_head .top_menu_on_head_menu li:first-child{font-size:1.5rem !important;}
}